extends alayout

block content
    h1= title
    p signals

    table(border='1')
     tr
      td
        #signal1
            #red     
            #yellow
            #green
            table(border='1')
            tr
            td
              #walk_on 
             td
               #walk_off 
            tr
            td
              #blank0
            td
              #blank1


         
    




             

            


    

               



       

        



                      





